<!DOCTYPE html>
<html>

<head>
    <title>
        <% page_title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <div>
        <a href="/" class="btn btn-primary ml-3">Home</a>
        <a href="/items/add" class="btn btn-secondary ml-3">New Item</a>
        <a href="/items" class="btn btn-info ml-3">Item List</a>
        <a href="/transfer/add" class="btn btn-info ml-3">New Transfer</a>
        <a href="/transfer" class="btn btn-info ml-3">Transfer List</a>
        <a href="/reorder" class="btn btn-info ml-3">New Purchase Order</a>


    </div>
    <!--   <% if (messages.error) { %>
  <p style="color:red"><%- messages.error %></p>
<% } %> -->

    <% if (messages.success) { %>
        <p class="alert alert-success mt-4">
            <%- messages.success %>
        </p>
        <% } %>
            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Quantity in Stock</th>
                        <th scope="col">Unit Price</th>
                        <th scope="col">Cost Price</th>
                        <th scope="col">Reorder Level</th>
                        <th scope="col">Lead Time</th>
                        <th scope="col">Reorder Quantity</th>
                        <th scope="col">Description</th>
                        <th scope="col">Group</th>
                        <th scope="col">Brand</th>
                        <th scope="col">Type</th>
                        <th scope="col">Category</th>
                        <th scope="col">Storage Id</th>
                        <th scope="col">Supplier Id</th>
                        <th scope="col">BarCode</th>
                        <th width="200px">Action</th>

                    </tr>
                </thead>
                <tbody>
                    <% if(data.length){
 
  for(var i = 0; i< data.length; i++) {%>
                        <tr>
                            <th scope="row">
                                <%= data[i].itemCode%>
                            </th>
                            <td>
                                <%= data[i].name%>
                            </td>
                            <td>
                                <%= data[i].inStock%>
                            </td>
                            <td>
                                <%= data[i].unitPrice%>
                            </td>
                            <td>
                                <%= data[i].costPrice%>
                            </td>
                            <td>
                                <%= data[i].reorderLevel%>
                            </td>
                            <td>
                                <%= data[i].leadTime%>
                            </td>
                            <td>
                                <%= data[i].reorderQuantity%>
                            </td>
                            <td>
                                <%= data[i].descript%>
                            </td>

                            <td>
                                <%= data[i].Itemgroup%>
                            </td>
                            <td>
                                <%= data[i].brand%>
                            </td>
                            <td>
                                <%= data[i].type%>
                            </td>
                            <td>
                                <%= data[i].category%>
                            </td>
                            <td>
                                <%= data[i].storageId%>
                            </td>
                            <td>
                                <%= data[i].supplierId%>
                            </td>
                            <td>
                                <%= data[i].barcode%>
                            </td>
                            <td>
                                <a class="btn btn-success edit" href="../items/edit/<%=data[i].itemCode%>">Edit</a>
                                <a class="btn btn-danger delete" onclick="return alert('Are You sure?')" href="../items/delete/<%=data[i].itemCode%>">Delete</a>
                            </td>
                        </tr>
                        <% }
           
   }else{ %>
                            <tr>
                                <td colspan="3">No user</td>
                            </tr>
                            <% } %>

                </tbody>
            </table>
</body>

</html>